<p><h2>Edit class details</h2></p>

<form action="/fitness_classes/<%= @fitness_class.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <p>Class Name:    <%= @fitness_class.name %></p>

  <p>Date:    <input type="date" name="date" value="<%= @fitness_class.date %>"></p>

  <p>Time:    <input type="time" name="time" value="<%= @fitness_class.time %>"></p>

  <p>Location: <input type="text" name="location" value="<%= @fitness_class.time %>"></p>

  <p>Instructor:    <input type="text" name="instructor" value="<%= @fitness_class.instructor %>"></p>

  <input type="submit" value="Submit">

</form>

<br></br>

<a href="/fitness_classes">See all your classes</a>

<br></br>

<a href="/logout">Log out</a>
