<p>Name:  <%= @fitness_class.name %></p>
<p>Date:  <%= @fitness_class.date.strftime("%m-%d-%Y") %></p>
<p>Time:  <%= @fitness_class.time.strftime("%l:%M %p") %></p>
<p>Location:  <%= @fitness_class.location %></p>
<p>Instructor:  <%= @fitness_class.instructor %></p>

<form method="POST" action="/fitness_classes/<%= @fitness_class.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Class">
</form>

<br></br>

<a href="/fitness_classes/<%= @fitness_class.id %>/edit">Edit a class</a>

<br></br>

<a href="/fitness_classes">See all your classes</a>

<br></br>

<a href="/logout">Log out</a>
