Name:  <%= @fitness_class.name %>
Date:  <%= @fitness_class.date %>
Time:  <%= @fitness_class.time.strftime("%l:%M %p") %>
Location:  <%= @fitness_class.location %>
Instructor:  <%= @fitness_class.instructor %>

<br></br>

<form method="POST" action="/fitness_classes/<%= @fitness_class.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
</form>
